@{
    ViewData["Title"] = "Information about project";
}
<h1>@ViewData["Title"]</h1>

<p>This project is a demonstration of the basics of understanding the work with ASP.NET Core, as well as with the corresponding frameworks.</p>
